.logo{
    width: 50px;
    height: 50px;

}
.main-header{
    display: flex;
    align-items: center;
    padding: 10px 10vw;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
aside nav{
    position: absolute;
    right: 5vw;
    justify-content: space-between;
}
aside nav a ,section:nth-child(2) a,section:nth-child(3) a{
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    padding: 10px 20px;
}
aside nav a:hover,aside nav a:active{
    background-color: #4f9bec;
}
section:first-child{
    background-image: url('/assets/background_mountain.jpg');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
height: 90vh;
color: rgba(255, 255, 255, 0.7);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
section:first-child h2{
    font-size: 2em;
    margin-bottom: 20px;
    
}
section:first-child p{
    font-size: 1.2em;
    margin-bottom: 30px;
}
section:first-child input[type="search"]{
    width: 50vw;
    height: 50px;
    border-radius: 10px;
}
section:first-child button{
    height: 50px;

    border-radius: 10px;
    background-color: #4f9bec;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 0 20px;
    cursor: pointer;
    
}
.section-header{
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    grid-column: span 4;
}
section:nth-child(2){
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}
section:nth-child(2) div{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
section:nth-child(2) img{
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
section:nth-child(2) a:hover{
    background-color: rgb(24, 223, 156);
}
section:nth-child(2) a{
    transition: background-color 0.3s;
    border: solid lightgray 1px;
    width: 65%;
}

section:nth-child(3){
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    padding: 20px 0;
    gap: 20px;
}
section:nth-child(3) div{
    display: grid;
    margin: 10px 10px 10px 10vw;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 10px;
   justify-content: center;
}
section:nth-child(3) a{
    transition: background-color 0.3s;
    border: solid lightgray 1px;
    width: 65%;
    height: 20px;
    background-color: #4f9bec;
    margin-top: 10px;
    color: white;
    grid-column: span 2;

}

section:nth-child(3) p{
    grid-row: span 2;
    grid-column: span 2;
}
.icons{
    width: 50px;
    height: 50px;
    margin-left: 5vw;
}
